.App {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


canvas {
  border: 1px solid black;
  display: block;
  margin: 0.5em auto;
}

button {
  margin: 0.2em;
  padding: 0.2em 0.8em;
}

.tab button {
  background-color: rgb(204, 204, 204);
  padding: 1em;
  float: left;
  border: 1px solid rgb(138, 138, 138);
  outline: none;
}

.tab button.active {
  background-color: inherit;
  border-bottom: none;
}

.tab-content {
  display: none;
  border: 1px solid rgb(138, 138, 138);
}

.tab-content.active {

  display: flex;
  flex-direction: column;
}

.tab-content div {
  width: 80%;
  margin: 1em auto;
  outline: none;
  padding: 0.5em;
}

.tabs {
  display: flex;
  flex-direction: column;
}

.ok-button {
  width: 4em;
  margin-top: 1em;
}